<ion-view view-title="Share hotspot">
  <ion-content>

    <div ng-click="share()" class="hero">
        <h1>
          <h5 style="color: #666; height: 60px;">Welcome to hotspot</h5>
          <img src="https://res.cloudinary.com/hotspot-online/image/upload/w_200/assets/logo-color.png" alt="" />
        </h1>
    </div>
    <div class="content double-padding" style="text-align: center">

          <h5><strong>Start sharing hotspot with your friends and family</strong></h5>
          <p>
            Help us create a safe community for buying and selling valuable stuff.
          </p>
          <button class="button icon-left ion-share" ng-click="showActionSheet()">Share</button>
    </div>
  </ion-content>
</ion-view>
