<ion-view view-title="hotspot postings" >
	<ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-refresh" ng-click="refresh()"></button>

	  <i class="icon" ng-class="showListView ? 'ion-arrow-shrink': 'ion-arrow-expand'" ng-click="toggleViews()" style="position: absolute;
    right: 45px;
    top: 10px;
    font-size: 26px;"></i>
    </ion-nav-buttons>
  	<ion-content class="listing">
	  	
  		<ion-refresher
		pulling-text="Pull to refresh..."
		on-refresh="refresh()">
		</ion-refresher>
		<div class="search-container">
			<div class="list list-inset">
			  <label class="item item-input">
			    <i class="icon ion-search placeholder-icon" ng-click="searchData()"></i>
			    <input type="text" placeholder="Search Item" ng-model="search.key" ng-blur="searchData()">
		     	<a ng-if="search.key != ''" on-touch="clearSearch()" ng-click="clearSearch()">
			       <i class="icon ion-ios-close placeholder-icon" style="font-size: 22px;"></i>
			  	</a>
			  </label>
			</div>
		</div>
  		<div ng-show="isIPad" ng-include src="'templates/partials/gridListIpad.html'"></div>
  		<div ng-show="!isIPad && !showListView" ng-include src="'templates/partials/gridList.html'"></div>
  		<div ng-show="!isIPad && showListView" ng-include src="'templates/partials/listView.html'"></div>
  	</ion-content>
  	<footer-menu></footer-menu>
</ion-view>
